* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row>div {
    flex: 1;
    -ms-flex: 1;
}

/* IE 10 */
.justify-content {
    justify-content: center;
}

.p-1 {
    padding: 10px 10px;
}

main {
    min-height: 100vh;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    padding: 10px 20px;
    z-index: 2;
    backdrop-filter: blur(2rem);
    background: #fff;
    min-height: 60vh;
    max-width: 35%;
    border-radius: 5%;
    background-color: black;
    word-break: break-all;
    font-size: 30px;
    color: lime;
    font-family: 'Poppins', serif;
}